{
  "extends": [
    "@lukemorales"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "arrowParens": "avoid",
        "printWidth": 89
      }
    ],
    "no-empty-pattern": "off",
    "jsx-a11y/media-has-caption": "off",
    "radar/no-duplicate-string": "off",
    "global-require": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "no-console": "off"
  }
}
